body {
    background-color: #1c1b1b;
    color: white;
}

h1 {
    margin-top: 3rem;
    font-size: 3.5rem;
    color: #f19c02;
}

h2 {
    font-size: 2rem;
    color: #02c5f1;
}


/*_________________________________
CONTAINER
_________________________________*/

.flex-container {
    display: flex;
    border: 1px solid white;
}

.flex-items-container {
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid white;
}

.flex-items-container-150w {
    display: flex;
    width: 150px;
    height: 300px;
    border: 1px solid white;
}

.flex-items-container-center {
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid white;
    align-items: center;
}


/*_________________________________
container examples
_________________________________*/

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-stretch {
    height: 300px;
    align-items: stretch;
}

.align-items-flex-start {
    height: 300px;
    align-items: flex-start;
}

.align-items-flex-end {
    height: 300px;
    align-items: flex-end;
}

.align-items-center {
    height: 300px;
    align-items: center;
}

.align-items-baseline {
    height: 300px;
    align-items: baseline;
}

.align-content {
    flex-wrap: wrap;
    height: 500px;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}


/*_________________________________
FONT Sizes
_________________________________*/

.font-size1 {
    font-size: 28px;
}

.font-size2 {
    font-size: 18px;
}

.font-size3 {
    font-size: 52px;
}

.font-size4 {
    font-size: 46px;
}

.font-size5 {
    font-size: 15px;
}


/*_________________________________
ITEMS
_________________________________*/

.item {
    background-color: #f1425d;
    padding: 10px;
    /* margin: 30px; */
    color: #fff;
    font-size: 40px;
    border: 1px solid white;
}

.items-margin {
    flex-wrap: wrap;
    background-color: #f1425d;
    padding: 10px;
    margin: 40px;
    color: #fff;
    font-size: 40px;
    border: 1px solid white;
}

.items-height {
    height: 100px;
    width: 100px;
    background-color: #f1425d;
    padding: 10px;
    color: #fff;
    font-size: 40px;
    border: 1px solid white;
}

.items-no-font-size {
    background-color: #f1425d;
    padding: 10px;
    color: #fff;
    border: 1px solid white;
}

.items-no-font-size-hw {
    height: 100px;
    width: 700px;
    background-color: #f1425d;
    padding: 10px;
    color: #fff;
    border: 1px solid white;
}

.align-self-auto {
    align-self: auto;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.order-negative-one {
    order: -1;
}

.order-one {
    order: 1;
}

.order-two {
    order: 2;
}

.order-three {
    order: 3;
}

.order-four {
    order: 4;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-basis-20 {
    flex-basis: 20%;
}