/*___________________________________________________
General Styles
___________________________________________________*/

body {
    background-color: #1c1b1b;
    color: #d8ab4e;
    position: relative;
}

.display-1 {
    padding-bottom: 13px;
}

.heading-primary--container {
    margin-top: 1rem;
    text-align: center;
    background: linear-gradient(to right, transparent 15%, rgba(111, 111, 111, .4) 50%, transparent 85%);
}

.heading-primary {
    margin-top: 3rem;
    font-size: 5.5rem;
    font-family: 'Cormorant SC', cursive;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    display: inline;
    background-image: linear-gradient(to top, #8ca9ff, #f6e4ad);
    -webkit-background-clip: text;
    color: transparent;
}

h1 {
    background: linear-gradient(to right, #fff 0%, #ff8300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 3rem; */
    margin-top: 5rem;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #776a6a;
    text-align: center;
}

h2 {
    /*  background: linear-gradient(to right, #00c9ea   0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    color: #08c2d6;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid; */
}

h3 {
    margin-top: 30px;
    color: #3bdd45;
    font-size: 1.5rem;
}

h4 {
    color: #ff8c69;
    padding: 1.2rem 0;
    font-size: 1.2rem;
}

h5 {
    color: #61d36d;
}

.row-background {
    /* background-color: #292929; */
    transition: background-color 1s, color 1s;
}


/* Nested homepage list links */

ul li ul li a {
    color: #54bcc2;
    padding: -20px 0;
}


/*___________________________________________________
Customizations
___________________________________________________*/

.breadcrumb {
    background-color: #000;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #36b9ec;
}

.breadcrumb-item.active {
    color: #36b9ec;
}

.text-highlight {
    font-size: 22px;
    font-weight: bold;
}

.standout,
.code-highlight {
    font-weight: bold;
    font-size: 1.1rem;
}

.bg-shade {
    background-color: #1d1d1d;
    padding: 1.5rem 0;
}

.margin-top {
    margin-top: 30px;
}

.breadcrumb-container {
    background-color: #000;
}

.breadcrumb-link {
    color: #ffbf00;
}


/*___________________________________________________
Note boxes
___________________________________________________*/

.alert-important,
.alert-note,
.alert-tip,
.alert-warning {
    position: relative;
    padding: 15px;
    /* border: 1px solid #DCDCDC; */
    border: 1px solid #ff0000;
    height: auto;
    min-height: 90px;
    display: table;
    margin: 15px 0 15px 0;
    /* background-color: #a0e1cd; */
}


/* vertical divider between icon and text */

.alert-content {
    margin-left: 80px;
    line-height: 22px;
    font-size: 95%;
    padding-left: 20px;
    /* border-left: 1px solid #DCDCDC; */
    border-left: 1px solid #ff0000;
    display: table-cell;
    vertical-align: middle;
    /* color: #000; */
    color: #fff;
}

.alert-content ul,
.alert-content ol {
    margin-bottom: 0;
}

.alert-content li {
    padding: 0;
}

.alert-icon {
    display: table-cell;
    width: 8%;
    min-width: 75px;
    vertical-align: middle;
}


/*___________________________________________________
Colors
___________________________________________________*/

.red {
    color: red;
}

.green {
    color: green;
}


/*___________________________________________________
Examples
___________________________________________________*/


/* Example box */

.example {
    background-color: #000;
    color: #ffbf00;
    padding: 5px;
    box-shadow: 0 0 4px 2px #1f1f1f;
}


/*___________________________________________________
Text Colors
___________________________________________________*/

.code-css {
    color: #ffe300;
}

.code-html {
    color: #ff9d39;
}

.code-keyboard-command {
    color: #d0d0d0;
}

.code-js {
    color: #FF8D7E;
}

.code-comment {
    color: #c1c0c0;
}

.blue {
    color: blue;
    font-weight: bold;
}

.cyan {
    color: cyan;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.border-green {
    border: 3px solid green;
}


/*___________________________________________________
Lists
___________________________________________________*/


/*Main <ul> list on navigation pages
.main-nav {
  margin: auto;
  width: 40%;
  list-style-type: none;
}*

/* Primary list navigation topics
This affects ALL <li> items
.main-nav li {
  border: 1px solid #ffa31f;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}*/


/* sub-topics <ul>
.sub-nav {
  list-style-type: none;
}*/


/* sub-topics <li>
.sub-nav li{
  border: 1px solid #c85200;
}

.no-style {
  list-style: none;
}*/


/*___________________________________________________
Code Examples
___________________________________________________*/


/* Main container for side by side text and code examples */

.example-container {
    background: rgba(125, 115, 115, 0.15);
    /*border: 1px solid blue;*/
    position: relative;
    /*These two lines allow the .code-container child to
  inherit the height of the parent*/
    display: inline-block;
    width: 100%;
    min-height: 20px;
}


/* Text container for code examples */

.example-text {
    /*border: 1px solid green;*/
    display: inline-block;
    width: 48%;
    padding: 5px;
    /* float: left; */
}

.codebox {
    /*border: 1px solid white;*/
    width: 48%;
    overflow: auto;
    background: #000;
    padding: 10px 5px 10px 5px;
}

.codebox-white {
    /*border: 1px solid white;*/
    /* width: 48%; */
    overflow: auto;
    background: #fff;
    padding: 10px 5px 10px 5px;
}

.codebox-fixed-height {
    /*border: 1px solid white;*/
    /* width: 48%; */
    height: 150px;
    overflow: auto;
    background: #000;
    padding: 10px 5px 10px 5px;
}

.codebox-no-overflow {
    /*border: 1px solid white;*/
    width: 48%;
    background: #000;
    padding: 10px 5px 10px 5px;
}


/*___________________________________________________
Note boxes
___________________________________________________*/

.alert-important,
.alert-note,
.alert-tip,
.alert-warning {
    position: relative;
    padding: 15px;
    border: 1px solid #DCDCDC;
    height: auto;
    min-height: 90px;
    display: table;
    margin: 15px 0 15px 0;
    background-color: rgba(125, 115, 115, 0.15);
}

.alert-content {
    margin-left: 80px;
    line-height: 22px;
    font-size: 95%;
    padding-left: 20px;
    border-left: 1px solid #DCDCDC;
    display: table-cell;
    vertical-align: middle;
}

.alert-content ul,
.alert-content ol {
    margin-bottom: 0;
}

.alert-content li {
    padding: 0;
}

.alert-icon {
    display: table-cell;
    width: 8%;
    min-width: 75px;
    vertical-align: middle;
}


/*___________________________________________________
Examples in preformatted boxes
___________________________________________________*/


/* background transparency example */

.image-bg {
    background: url("../_img/backgrounds/examples/white-bg.jpg");
    color: #000;
}

.rgba-transparency {
    background: rgba(199, 21, 133, .25);
}


/* gradient color over image */

.linear-gradient {
    height: 40px;
    background: linear-gradient(red, green);
}

.linear-gradient-3colors {
    height: 40px;
    background: linear-gradient(red, yellow, green);
    color: #fff;
}

.transparent-linear-gradient {
    height: 40px;
    background: linear-gradient(rgba(255, 0, 0, 0.35), /*red*/
    rgba(255, 255, 0, 0.35), /*yellow*/
    rgba(0, 0, 255, 0.35)), /*blue*/
    url("../_img/backgrounds/examples/white-bg.jpg");
}

.image-bg-repeat {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
}

.image-bg-repeat-x {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: repeat-x;
}

.image-bg-repeat-y {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: repeat-y;
}

.image-bg-no-repeat {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
}

.image-bg-scroll {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.image-bg-position-words {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-position: top right;
}

.image-bg-position-percent {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-position: 10% 10%;
}

.image-bg-position-pixels {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-position: 20px 50px;
}

.image-bg-background-size-auto {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.image-bg-background-size-cover {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-bg-background-size-contain {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.image-bg-background-size-onevalue {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-size: 80px;
}

.image-bg-background-size-twovalue {
    background: url("../_img/backgrounds/examples/purple-dot.jpg");
    background-repeat: no-repeat;
    background-size: 80px 120px;
}

.reshapeimg-per {
    width: 50px;
    border-radius: 50%;
}

.reshapeimg-px {
    width: 50px;
    border-radius: 22px;
}

.alignimg-txt {
    width: 50px;
    text-align: center;
    color: #fff;
}

.alignimg-margin-per {
    width: 50px;
    display: block;
    margin: 0 50%;
}

.alignimg-margin {
    width: 50px;
    display: block;
    margin: 0 auto;
}

a.link-btn:link,
a.link-btn:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.link-btn:hover,
a.link-btn:active {
    background-color: red;
}

.horz-nav-display-no-inline-block {
    background-color: green;
    text-align: center;
}

.horz-nav-display-no-inline-block a {
    border: 1px solid red;
    padding: 10px;
    background-color: yellow;
    margin-right: 5px;
}

.horz-nav-display-inline-block {
    background-color: green;
    text-align: center;
}

.horz-nav-display-inline-block a {
    border: 1px solid red;
    padding: 10px;
    display: inline-block;
    background-color: yellow;
    margin-right: 5px;
}

.horz-nav-display-center {
    background-color: green;
    text-align: center;
    font-size: 0;
}

.horz-nav-display-center a {
    border: 1px solid red;
    padding: 10px;
    display: inline-block;
    background-color: yellow;
    font-size: 16px;
}

.horz-nav-no-float {
    background-color: yellow;
}

.horz-nav-no-float a {
    margin-left: 0px;
    background-color: red;
}

#no-left-float-margin {
    margin-left: -13px;
}

.horz-nav-float {}

.horz-nav-float a {
    background-color: red;
    float: left;
}

.horz-nav-float-overflow {
    background-color: yellow;
    overflow: hidden;
}

.horz-nav-float-overflow a {
    background-color: red;
    float: left;
}

.horz-nav-list-float {
    list-style-type: none;
    background-color: yellow;
    overflow: hidden;
}

.horz-nav-list-float a {
    background-color: red;
    float: left;
    padding-right: 5px;
}

ul.unordered-list-a {
    list-style-type: circle;
    color: white;
}

ul.unordered-list-b {
    list-style-type: square;
    color: white;
}

ol.ordered-list-c {
    list-style-type: upper-roman;
    color: white;
}

ol.ordered-list-d {
    list-style-type: lower-alpha;
    color: white;
}

ol.custom-list-image {
    list-style-image: url('../_img/backgrounds/examples/purple-dot.jpg');
    color: white;
}

ol.shorthand-for-custom-image {
    list-style: circle outside url('../_img/backgrounds/examples/purple-dot.jpg');
    color: white;
}

.hsl-colors-p1 {
    background-color: hsl(120, 100%, 50%);
    color: #000;
}


/* green */

.hsl-colors-p2 {
    background-color: hsl(120, 100%, 75%);
    color: #000;
}


/* light green */

.hsl-colors-p3 {
    background-color: hsl(120, 100%, 25%);
}


/* dark green */

.hsl-colors-p4 {
    background-color: hsl(120, 60%, 70%);
    color: #000;
}


/* pastel green */

.hsla-colors-p1 {
    background-color: hsl(120, 100%, 50%, 0.3);
}


/* green */

.hsla-colors-p2 {
    background-color: hsl(120, 100%, 75%, 0.3);
}


/* light green */

.hsla-colors-p3 {
    background-color: hsl(120, 100%, 25%, 0.3);
}


/* dark green */

.hsla-colors-p4 {
    background-color: hsl(120, 60%, 70%, 0.3);
}


/* pastel green */

.text-decoration-overline {
    text-decoration: overline;
    color: #fff;
}

.text-decoration-line-through {
    text-decoration: line-through;
    color: #fff;
}

.text-decoration-underline {
    text-decoration: underline;
    color: #fff;
}

.text-decoration-none {
    text-decoration: none;
    color: #fff;
}

.text-indent-section {
    text-indent: 25px;
    color: white;
}

.letter-spacing-pixels {
    color: white;
    letter-spacing: 3px;
}

.letter-spacing-none {
    color: white;
    letter-spacing: normal;
}

.font-variant-small-caps {
    color: white;
    font-variant: small-caps;
}

.font-icon-example {
    background-color: white;
}

.line-height-small {
    color: white;
    line-height: 5px;
}

.line-height-medium {
    color: white;
    line-height: 25px;
}

.line-height-large {
    color: white;
    line-height: 45px;
}

.word-spacing-small {
    color: white;
    word-spacing: -5px;
}

.word-spacing-large {
    color: white;
    word-spacing: 15px;
}

.txt-dir-right {
    color: white;
    direction: rtl;
}

.txt-dir-left {
    direction: ltr;
    color: white;
}

.txt-shadow-hor-right-red {
    font-size: 20px;
    color: white;
    text-shadow: 3px 0px red;
}

.txt-shadow-hor-left-red {
    font-size: 20px;
    color: white;
    text-shadow: -3px 0px red;
}

.txt-shadow-vert-down-red {
    font-size: 20px;
    color: white;
    text-shadow: 0px 3px red;
}

.txt-shadow-vert-up-red {
    font-size: 20px;
    color: white;
    text-shadow: 0px -3px red;
}

.txt-shadow-blur-red {
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 3px yellow;
}

.white-space-no-wrap {
    color: white;
    white-space: nowrap;
}

.white-space-pre {
    color: white;
    white-space: pre;
}

.white-space-pre-line {
    color: white;
    white-space: pre-line;
}

.white-space-pre-wrap {
    color: white;
    white-space: pre-wrap;
}

.text-overflow-clip {
    text-overflow: clip;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    width: 335px;
    border: 1px solid #000000;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    width: 335px;
    border: 1px solid #000000;
}

.text-decoration-overline {
    color: white;
    text-decoration: overline red;
}

.text-decoration-underline {
    color: white;
    text-decoration: underline green;
}

.text-decoration-line-through {
    color: white;
    text-decoration: line-through blue;
}

.descendent-selector-anchor-in-p {
    color: red;
}

.descendent-selector-p-and-anchor-in-section {
    color: blue;
}

a.pseudo-link-hover {
    color: white;
}

.pseudo-link-hover:hover {
    color: green;
}

.first-last-child-pseudo-elements {
    color: white;
}

.first-last-child-pseudo-elements:first-child {
    color: red;
}

.first-last-child-pseudo-elements2:last-child {
    color: red;
}

.first-type-pseudo-elements {
    color: white;
}

.first-type-pseudo-elements:first-of-type {
    color: red;
}

.first-last-type-pseudo-elements:last-of-type {
    color: blue;
}

.overflow-visible {
    color: rgb(2, 181, 252);
    width: 250px;
    height: 100px;
    background-color: #eee;
    overflow: visible;
}

.overflow-hidden {
    color: rgb(2, 181, 252);
    width: 250px;
    height: 100px;
    background-color: #eee;
    overflow: hidden;
}

.overflow-scroll {
    color: rgb(2, 181, 252);
    width: 250px;
    height: 100px;
    background-color: #eee;
    overflow: scroll;
}

.overflow-auto {
    color: rgb(2, 181, 252);
    width: 250px;
    height: 100px;
    background-color: #eee;
    overflow: auto;
}

.overflow-xscroll {
    color: rgb(2, 181, 252);
    width: 250px;
    height: 100px;
    background-color: #eee;
    overflow-x: scroll;
    /* Hide horizontal scrollbar */
    overflow-y: hidden;
    /* Add vertical scrollbar */
    white-space: nowrap;
}

.nthrow-table {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    color: #000;
}

.nthrow-table tr:nth-child(odd) {
    background-color: gray;
}

.nthrow-table-number {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    color: #000;
}

.nthrow-table-number tr:nth-child(3) {
    background-color: gray;
}

.beforeafter {
    color: white;
}

.beforeafter::before {
    content: "words for the pseudo selector ";
    color: green;
}

.beforeafter-quotes {
    color: white;
}

.beforeafter-quotes::before {
    content: "\"";
    color: red;
}

.beforeafter-quotes::after {
    content: "\"";
    color: red;
}


/* Transition examples */

.trans-ex-01 {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.trans-ex-01:hover {
    width: 300px;
}

.trans-ex-multi-value {
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 0%;
    transition: background-color 2s, left 3s, width 3s, height 3s, border-radius 3s;
}

.trans-ex-multi-value:hover {
    background-color: blue;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.trans-ex-ease {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease;
}

.trans-ex-ease:hover {
    width: 300px;
}

.trans-ex-linear {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s linear;
}

.trans-ex-linear:hover {
    width: 300px;
}

.trans-ex-ease-in {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease-in;
}

.trans-ex-ease-in:hover {
    width: 300px;
}

.trans-ex-ease-out {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease-out;
}

.trans-ex-ease-out:hover {
    width: 300px;
}

.trans-ex-ease-in-out {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease-in-out;
}

.trans-ex-ease-in-out:hover {
    width: 300px;
}

.cubic-bezier {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.cubic-bezier:hover {
    width: 300px;
}

.trans-step-start {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s step-start;
}

.trans-step-start:hover {
    width: 300px;
}

.trans-step-end {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s step-end;
}

.trans-step-end:hover {
    width: 300px;
}

.trans-steps-6-start {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s steps(6, start);
}

.trans-steps-6-start:hover {
    width: 300px;
}

.trans-steps-6-end {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s steps(6, end);
}

.trans-steps-6-end:hover {
    width: 300px;
}

.trans-delay {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 1s ease 0s, height 1s ease 1s, background 1s ease 2s;
}

.trans-delay:hover {
    width: 300px;
    height: 150px;
    background: blue;
}

.trans-asymmetric {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 1s ease 0s, height 1s ease 0s, background 1s ease 3s;
}

.trans-asymmetric:hover {
    width: 300px;
    height: 150px;
    background: blue;
    border-radius: 25%;
    transition: border-radius 1s ease-in 0s, width 1s ease-out 1s, height 1s ease-out 2s, background 1s ease-in-out 3s;
}

.transform-translateX {
    transform: translateX(55px);
}

.transform-translateY {
    transform: translateY(55px);
}

.transform-translate {
    transform: translate(50px, 50px);
}

.transform-scaleX {
    transform: scaleX(1.5);
}

.transform-scaleY {
    transform: scaleY(1.5);
}

.transform-scale {
    transform: scale(1.5, -1.5);
}

.transform-skewX {
    transform: skewX(20deg);
}

.transform-skewY {
    transform: skewY(20deg);
}

.transform-skew {
    transform: skew(20deg, 20deg);
}

.transform-rotate {
    transform: rotate(45deg);
}

div#img-container {
    transform: perspective(1200px rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: flat;
}

div#img-container img {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.relative-parent {
    width: 75%;
    position: relative;
    border: 1px solid cyan;
}

.absolute-date {
    position: absolute;
    top: 0;
    /*right at top with zero pixels between element*/
    right: 0;
    /*no space between container and element*/
}