<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../../_css/styles.css">

    <title>Display</title>
</head>

<body>

    <nav class="navbar">
        <a href="../../index.html">Back to homepage</a>
        <a class="nav-page nav-active">Display</a>
    </nav>




    <h2>.............</h2>

    <section class="code-section-container">
        <div class="code-text-section">
            <p>..................</p>
        </div>
        <div class="code-block-section-w60">
            <pre class="example">
<span class="code-html">&lt;..........&gt;</span>
    <span class="code-css">&lt;..........&gt;</span></pre>
        </div>
    </section>

</body>

</html>