.header {
  /* This box should be 85% of viewport so user can see the header continues the page*/
  height: 85vh;
  /* gradient, comma, then image */
  /* hex codes for rgba only work in SASS */
  // small background loaded for low res screens
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
  /* takes up full width of viewport */
  background-size: cover;
  /* top of image will always stay at top of screen when resizing */
  background-position: top;

  /* must set to relative so you can position logo as absolute */
  position: relative;


  //If clip-path is supported run this code
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  /* clip-path changes shape of image by adjusting 4 corners using x y values */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  height: 95vh;
}


  // background image media query
  // 192 dpi is resolution of retina screen
  //code applied when resolution above 192dpi AND with  is larger than 600px
  //load high res image
  //NOTE for some reason, this fixes the bug in chrome to view 2X images
  //conver to em: 600/16 = 37.5
  //2000 / 16 = 125em
  /*
  @media (min-resolution: 192dpi) and (min-width: 37.5em) {
    background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
  }

//display highres image if screen size is OVER 2000
  @media (min-width: 125em) {
    background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
  }
*/

  //This combines the two queries above with a comma
  //Add extra line because safari doesn't support min-resolution
  //-webkit-min-device-pixel-ratio should be at least 2 which is 2x
  @media only screen and (min-resolution: 192dpi) and (min-width: 600px),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
  only screen and (min-width: 2000px) {
    background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8)), url(../img/hero.jpg);
  }



  @include respond(phone) {
    //fix angel of background image
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }




  /* use & for any sub-declarations that mention .header */

  /* write this instead of a .header__logo-box section
this compiles into a .header__logo-box section in CSS */
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    /* size of logo, width scales automatically */
    height: 3.5rem;
  }

  &__text-box {
    /* to center */
    position: absolute;
    /* the top and left value position from the parent element, so they are not visually centered*/
    top: 40%;
    left: 50%;
    /* this centers the element visually by adjusting 50% of the element, not the parent*/
    transform: translate(-50%, -50%);
    text-align: center;
  }


}